.search {
  border: 3px solid rgb(111, 93, 110);
  padding: 10px;
  width: 250px;
  border-radius: 20px;
  font-weight: 600;
  margin-right: 30px;
  background-color: transparent;

  position: relative;
  font-size: 15px;
  color: white;
}

.button {
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: none;
  position: absolute;
  right: 60px;
  top: 25px;
}
