.dropdown {
  background-color: rgb(111, 93, 110);
  padding: 20px;
  padding-top: 0;
  list-style-type: none;
  position: absolute;
  margin-top: 10px;
  z-index: 100;

  &__item {
    border-bottom: 1px solid white;
    text-decoration: none;
    padding: 20px;
  }

  &__itemLabel {
    color: white;
  }
}
